
h1, h2, h3 {
    font-family: 'Times New Roman', sans-serif;
    color: #EF88AD;
}

body, p {
    font-family: 'Open Sans', sans-serif;
    color: #EF88AD;
}
body{
    background-color: #670D2F;
}
section h1 {
    margin: 60px 0 30px 0;  
    font-size: 32px;        
}
.container{
    display:flex;
    border-radius: 10px;     
    justify-content:space-between;
    align-items: center;
    background-color: #3A0519;  
    color: #EF88AD;

}
.navigation ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navigation ul li{
    display: inline-block;
    margin: 0 20px;   
    font-size: 20px;
    font-weight: bold;
}
.navigation ul li a {
    color: #EF88AD;            
    text-decoration: none;  
    font-weight: bold;       
    transition: color 0.3s;  
}

.navigation ul li a:hover {
    color: #fff;         
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    margin: 25px;
}
.herotxt p{
    display: flex;
    background-color: #3A0519;
    font-size: 28px;
    border-radius: 10px;     
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); 
    width: 700px;
    transition: transform 0.3s ease;
    padding: 25px;
}
.hero h1{
    font-size: 48px;
}
.hero img {
    width: 550px;           
    max-width: 100%;        
    height: auto;           
    border-radius: 10px;     
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); 
    transition: transform 0.3s ease; 
}
.name h1{
    padding: 0px;
    font-size: 28px;
    margin-left: 20px;
}
.about {
    max-width: 1400px;
    margin: auto;

}
.about p{
    background-color: #3A0519;
    font-size: 20px;
    padding: 25px;
    text-align: justify;
    border-radius: 10px;     
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
.project p{
    text-align: justify;
    font-size: 18px;
}
.projects{
    background-color: #3A0519;
    padding: 30px 20px;
    text-align: center;
    max-width: 1350px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
.project-list{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.project{
    background-color: #670D2F;
    border-radius: 10px;
    padding: 25px;
    width:300px;
    margin: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
.contact {
    text-align: center;
    margin: 60px;  
}
.form{
    display:flex;
    justify-content: space-around;
    font-size: 18px;
    background-color: #3A0519;
    border-radius: 10px;
    padding: 25px;
    max-width: 500px;
    margin: 40px auto;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
.form input, .form textarea {
    background-color: #d8adbd;
    border-radius: 5px;        
    padding: 10px;
}
footer{
    text-align: center;
}
